@{
    ViewData["Title"] = "Home Page";
}
<div class='row'>
    <div class='col-md-12 align-center' style="display: flex; flex-direction: row; justify-content: center">
        <h2 style="font-style:italic; font-weight:bold">We work hard to make your flight as miserable as possible!</h2>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-md-12 align-center' style="display: flex; flex-direction: row; justify-content: center">
        <img src='images/holiday1.jpg' style='max-width: 300px; max-height: 150px'>
        <img src='images/holiday2.jpg' style='max-width: 300px; max-height: 150px'>
        <img src='images/holiday3.jpg' style='max-width: 300px; max-height: 150px'>
    </div>
</div>

<br />
<br />

<div class='row text-center'>
    <div class='col-md-12'>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="exampleInputEmail2">From:</label>
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Manchester">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">To: </label>
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Barcelona">
            </div>
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    </div>
</div>

<br />
<br />
<br />

<div class="row text-center">
    <div class="col-md-12">
        <h3><em>Special Offers</em></h3>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>Oxygen offer!</h2>
        <p>Free Oxygen for the over 60's!</p>
    </div>
    <div class="col-md-4">
        <h2>Get a Free Flight!</h2>
        <p>Pay your fee by working as a steward!</p>
    </div>
    <div class="col-md-4">
        <h2>50% Off!</h2>
        <p>Save money by visiting War Zones!</p>
    </div>
</div>
